<div class="row justify-content-center">
  <div class="col-md-8">
    <%= turbo_frame_tag "podcast_frame" do %>
      <%= render 'list', last_podcast: @last_podcast,
                         random_podcast: @random_podcast
      %>
    <% end %>
  </div>
</div>
