<turbo-frame id="podcast_frame">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center h-100">
        <div class="col-md-10">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              <div class="mb-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  class="rounded-circle img-fluid" style="width: 100px;" />
              </div>
              <h4 class="mb-3">Julie L. Arsenault</h4>
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-rounded btn-lg">
                <i class="text-white bi bi-heart"></i>
                <%# if subscribed
                  <i class="text-danger bi bi-suit-heart-fill"></i>
                %>
              </button>
              <div class="d-flex justify-content-center text-center mt-4 mb-2">
                <div>
                  <p class="mb-2 h5">8471</p>
                  <p class="text-muted mb-0">Followers</p>
                </div>
                <div class="px-3">
                  <p class="mb-2 h5">8512</p>
                  <p class="text-muted mb-0">Followed</p>
                </div>
                <div class="px-3">
                  <p class="mb-2 h5">8512</p>
                  <p class="text-muted mb-0">Podcasts</p>
                </div>
                <div>
                  <p class="mb-2 h5">4751</p>
                  <p class="text-muted mb-0">Total views</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</turbo-frame>
