<ul class="list-group list-unstyled">
  <div class="list-group-item">
    <a class="dropdown-item disabled">There are <%= matched_entities.count %> results</a>
  </div>
  <div class="list-group-item list-group list-group-flush">
    <% matched_entities.each do |entity| %>
      <li class="search-title-result mb-2 list-group-item">
        <%= link_to highlight(entity.title, params[:title_search]), entity,
                    class: 'dropdown-item btn' %>
      </li>
    <% end %>
  </div>
</ul>