<turbo-frame id="podcast_frame">
  <div class="container">
    <h2>Редактировать Podcast: <%= @podcast.title %></h2>
    <turbo_frame id="alert">
      <%= render 'layouts/alert', resource: @podcast %>
    </turbo_frame>

    <turbo_frame id="form">
      <%= render 'form', podcast: @podcast %>
      <%= link_to "Назад", podcast_path(@podcast), class: "btn btn-secondary" %>
    </turbo_frame>
  </div>
</turbo_frame>
