<turbo-frame id="podcast_frame">
  <div class="container">
    <h2>Редактировать Podcast: <%= @podcast.title %></h2>
    <%= render 'form', podcast: @podcast %>

    <%= link_to "Назад", podcast_path(@podcast), class: "btn btn-secondary" %>
  </div>
</turbo_frame>
