<turbo-frame id="podcast_frame">
  <div class="container">
    <h2>Создать Podcast</h2>

    <turbo_frame id="errors">
      <%= render 'layouts/errors', resource: @podcast %>
    </turbo_frame>

    <turbo_frame id="form">
      <%= render 'form', podcast: @podcast %>
    </turbo_frame>
  </div>
</turbo-frame>
